@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Pacifico&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
    font-family: "Montserrat", sans-serif;
    
}

nav{
    background-color: #01452c;
    height: 80px;
    width: 100%;
}

label.logo{
    color: #bf804a;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;

}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: #bf804a;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,a:hover{
    color:#fff;
    transition: .5s;
}

nav ul li a:hover{
    color: #faac1b;

}

.checkbtn{
    font-size: 30px;
    color: #bf804a;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;

    }
}
@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #fff;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: #bf804a;
    }
    #check:checked ~ ul{
        left: 0;
    }
}

section{
    background-color: #fff;
    background-size: cover;
    height: calc(100vh);
}







.nav-item{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 30%;
}

.menu{
	text-decoration: none;
	font-size: 1em;
	font-weight: 500;
    word-spacing: 10px;
	color: #fff;
	transition: all 0.3s;
    
}

ul li a{
	text-decoration: none;
	font-size: 1.1em;
	font-weight: 800;
    font-family: "Montserrat";
	color: #bf804a;
	transition: all 0.3s;
    
}



/*about.html*/

.overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	object-fit: cover;
	
	z-index: -1;
}

.container1{
	margin: 80px 50px 0 80px;

}
.container1 h2{
	color: black;
	font-size: 3em;
	font-weight: 700;
    text-transform: uppercase;
	word-spacing: 7px;
    text-align: center;
}
.container1 p{
	color: black;
	font-size: 1.1em;
	font-weight: 400;
	width: 100%;
	padding-bottom: 0px;
    text-align: justify;
}
.container1 a{
	color: #fff;
	font-size: 1.1em;
	font-weight: 600;
	background: #fff;
	padding: 10px 22px;
	text-decoration: none;
	transition: all 0.3s;
}


/* attractions */












