@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Pacifico&display=swap");
$enable-responsive-font-sizes:              true;
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
    font-family: "Montserrat", sans-serif;
    
}

nav{
    background-color: #01452c;
    height: 80px;
    width: 100%;
}

label.logo{
    color: #bf804a;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;

}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: #bf804a;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,a:hover{
    color:#fff;
    transition: .5s;
}

nav ul li a:hover{
    color: #faac1b;

}

.checkbtn{
    font-size: 30px;
    color: #bf804a;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 952px){
    label.logo{
        font-size: 22px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;

    }
}
@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #fff;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: #bf804a;
    }
    #check:checked ~ ul{
        left: 0;
    }
}

section p{
    background-image: url(background8.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh);
}

@media (max-width: 952px){
    .section p{
        background-size: clamp (15px, 1rem + 4rem, 100px) no-repeat;

    }
}

.header{
    height: 650px;
    width: 100%;
    background-image: url('welcome.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.mid {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .mid h1 {
    font-size: 4.5rem;
    color:#fff;
    font-family: "Pacifico", cursive;
    letter-spacing: 5px;
    text-shadow: 0 0 7px #bf804a;
  }

@media (max-width: 952px){
    .mid h1{
        font-size: clamp(1rem, -1.5rem + 8vw, 3rem);
        
    }
}

/*footer*/

footer{
    position: fixed;
    bottom: 0;

}
@media (max-height:800px){
    footer{
        position: static;
    }
    header{
        padding-top: 40px;
    }
}

.footer-distributed{
    background-color: #01452c;
    box-sizing: border-box;
    widows: 100%;
    text-align: center;
    font: bold 16px sans-serif;
    padding: 10px 10px 30px 20px;
}



.footer-distributed .footer-company-name{
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    justify-content: center;
}

.footer-distributed .footer-icons{
    margin-top: 8px;
}
    
.footer-distributed .footer-icons a{
    display: inline-block;
    width: 100px;
    height: 30px;
    cursor: pointer;
    border-radius: 2px;
    font-size: 20px;
    color: #bf804a;
    text-align: center;
    justify-content: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 1px;
}

.footer-distributed .footer-icons a:hover{
    color: #faac1b;

}



.nav-item{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 30%;
}

.menu{
	text-decoration: none;
	font-size: 1em;
	font-weight: 500;
    word-spacing: 10px;
	color: #fff;
	transition: all 0.3s;
    
}

ul li a{
	text-decoration: none;
	font-size: 1.1em;
	font-weight: 800;
    font-family: "Montserrat";
	color: #bf804a;
	transition: all 0.3s;
    
}

/*

ul li a:hover{
	color: #fff;
}

.over:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 200px;
  z-index: -1;
  background: linear-gradient(to bottom, #0c1930, transparent);
}
.over:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 200px;
  z-index: -1;
  background: linear-gradient(to top, #111, transparent);
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 4rem 7rem 0 7rem;
  z-index: 10000;
}
.container .heading h2 {
  font-size: 1.9rem;
  font-weight: 700;
  color: #bf804a;
}

.mid {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mid h1 {
  font-size: 4.5rem;
  color:#fff;
  font-family: "Pacifico", cursive;
  letter-spacing: 5px;
  text-shadow: 0 0 7px #bf804a;
}

.down {
  margin: 29rem 7rem 0 7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}


.down .social .items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.down .social .items li {
  list-style: none;
  padding-left: 25px;
}

.down .social .items li i {
  color: #bf804a;
  font-size: 1.9rem;
  cursor: pointer;
}

.down .social .items li i:hover {
	color: #fff;
}





/*about.html*/

.overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	object-fit: cover;
	background: rgba(0,0,0,0.5);
	z-index: -1;
}

.container1{
	margin: 80px 50px 0 80px;

}
.container1 h2{
	color: #fff;
	font-size: 3em;
	font-weight: 700;
    text-transform: uppercase;
	word-spacing: 7px;
    text-align: center;
}
.container1 p{
	color: #fff;
	font-size: 1.1em;
	font-weight: 400;
	width: 100%;
	padding-bottom: 0px;
    text-align: justify;
}
.container1 a{
	color: #000;
	font-size: 1.1em;
	font-weight: 600;
	background: #fff;
	padding: 10px 22px;
	text-decoration: none;
	transition: all 0.3s;
}


/* attractions */

